#
# Android Studio 2.2.3 Defaults
#

palace-*/build
*.iml
.DS_Store
.externalNativeBuild
.gradle
.idea
/captures
/local.properties

# Ignore .so files
**/jniLibs

# Certificates and api(Keys)
*.jks
secrets.conf
ReaderClientCert.sig
LCP/*

palace-accounts-registry/src/main/resources/org/nypl/simplified/accounts/registry/libraries.json

# Backup files
*~

# Misc
palace-tests-sandbox/src/main/*
.env

# deprecated
cardcreator.conf
overdrive.json
feedbooks.conf
configurations.txt
version.properties

palace-app-palace/required-assets.conf
changelog.jar
commit.txt
jreleaser.toml
ktlint.jar
org.thepalaceproject.webpub.cmdline-1.2.0-main.jar
