[submodule ".ci"]
	path = .ci
	url = https://github.com/lyrasis/simplye-Android-CI
[submodule "simplified-tests/src/test/resources/org/nypl/simplified/tests/bookmark_annotations/spec"]
	path = simplified-tests/src/test/resources/org/nypl/simplified/tests/bookmark_annotations/spec
	url = https://github.com/NYPL-Simplified/Simplified-Bookmarks-Spec
