name: Android CI (Authenticated)

on:
  push:
    branches: [ main, release/* ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup swap
        run: |
          sudo swapoff -a
          sudo fallocate -l 2G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          sudo swapon --show
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Build
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_CENTRAL_STAGING_PROFILE_ID: ${{ secrets.MAVEN_CENTRAL_STAGING_PROFILE_ID }}
          MAVEN_CENTRAL_SIGNING_KEY_ID: ${{ secrets.MAVEN_CENTRAL_SIGNING_KEY_ID }}
          CI_GITHUB_ACCESS_TOKEN: ${{ secrets.CI_GITHUB_ACCESS_TOKEN }}
          CI_AWS_ACCESS_ID: ${{ secrets.CI_AWS_ACCESS_ID }}
          CI_AWS_SECRET_KEY: ${{ secrets.CI_AWS_SECRET_KEY }}
          _JAVA_OPTIONS: -verbose:gc
        run: .ci/ci-main.sh normal
      - name: Upload test report
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: junit-test-report
          path: ./simplified-tests/build/reports/tests/testDebugUnitTest/
